# Binaries
/api
/worker

# Go build cache
*.test
*.out

# Local runtime logs
out.log

# Environment files
.env
.env.*
Server/firebase-service-account.json

# IDE
.idea/
.vscode/
*.swp
Server/tmp/api.exe
tmp/api.exe
tmp/api.exe
